:root {
    --sun-size: 100px;
    --mercury-orbit: 160px; --mercury-size: 10px;
    --venus-orbit: 220px;   --venus-size: 16px;
    --earth-orbit: 300px;   --earth-size: 18px;
    --mars-orbit:380px;     --mars-size: 14px;
    --jupiter-orbit: 500px; --jupiter-size: 40px;
    --saturn-orbit: 650px;  --saturn-size: 35px;
    --uranus-orbit: 780px;  --uranus-size: 28px;
    --neptune-orbit: 900px; --neptune-size: 26px;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    position: absolute;
    top: 30px;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #0073e6;
    letter-spacing: 2px;
    z-index: 100;
}

.star-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: 100px 200px 1px #fff,
                500px 800px 2px #fff,
                -200px -400px 1px #fff,
                900px -100px 1px #fff,
                700px 300px 1px #fff;
}

.shooting-star {
    position: absolute;
    height: 2px;
    background: linear-gradient(-45deg, rgba(158, 222, 255, 1),rgba(255, 255, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(158, 222, 255, 1));
    animation: tail 3s ease-in-out infinite, shooting 3s ease-in-out infinite;
}

.shooting-star:nth-child(1) { top: 10%; left: -100%; animation-delay: 1.3s; }
.shooting-star:nth-child(2) { top: 40%; left: -100%; animation-delay: 2.8s; }
.shooting-star:nth-child(3) { top: 80%; left: -100%; animation-delay: 0.2s; }


@keyframes tail {
    0% { width: 0; }
    30% { width: 100px; }
    100% { width: 0; } 
}
@keyframes shooting {
    0% { transform: translateX(0); }
    100% { transform: translateX(120vw); }
}
.solar-system {
    position:  relative;
    width: var(--neptune-orbit);
    height: var(--neptune-orbit);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sun {
    position: absolute;
    width: var(--sun-size);
    height: var(--sun-size);
    border-radius: 50%;
    background: radial-gradient(circle, #ffd700, #ff8c00);
    box-shadow: 0 0 60px #ff8c00,
}