*{
  margin: 0;
  padding: 0;
  }

#countdown{
  border: black solid 5px;
  line-height: 85px;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  font-family: "Consolas";
  letter-spacing: 1px;

  background: linear-gradient(100deg, cyan, yellow, magenta);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 1.5s linear infinite;
}
@keyframes rainbow {
  100%{
    filter: hue-rotate(360deg);
  }
}