p {
    display: inline;
}

#cards {
    display: flex;
    flex-direction: row;
}

#cards > div {
    width: 100px;
    height: 300px;
    border-radius: 10px;
    background-color: beige;
    box-shadow: 0px 8px 16px 0px rgb (0, 0, 0, 0.2);
}

body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-family: arial, sans-serif;
}

.home-btn:hover {
    background: rgba(225, 255, 255, 0.12)
}

.home-btn{
    position:fixed;
    left:2vmin;
    top:2vmin;
    background:rgba(255,255,255,0.08);
    color:#f0f0f0;
    padding:1vmin 1.5vmin;
    border-radius:8px;
    text-decoration:none;
    font-weight:600;
    z-index:9999;
    border:1px solid rgba(255,255,255,0.06);
}

.home-btn:hover {
    background: rgba(225, 255, 255, 0.12)
}
