.ball{
    width: 250px;
    height: 250px;
    border: 1px solid black;
}
.soccerball{
    width: 250px;
    height: 250px;
}
.baseball{
    width: 250px;
    height: 250px;
}
#basketball{
    width: 250px;
    height: 250px;

}
.soccerball{
    width: 250px;
    height: 250px;
}
.tennisball{
    width: 250px;
    height: 250px;
}
.basketball{
    width: 250px;
    height: 250px;
}
.football{
    width: 500px;
    height:250px;
}
.tennisball{
    width:250px;
    height:250px;
}
.poolball{
    width:250px;
    height:250px;
}
.poolball{
    width:250px;
    height:250px;
}
.football{
    width:250px;
    height:250px;
}
.baseball{
    width:250px;
    height:250px;
}