/* Section 1: Basic page setup */

body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-family: Arial, sans-serif;
}

/* Section 2: Game container */

#gameContainer {
    position: relative;

    width: 400px;
    height: 600px;

    background: linear-gradient(to bottom, #87CEEB 0%, white 50%, black 100%);

    border: 3px solid #333;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0, 0.3);

    overflow: hidden;
}

/* Section 3: Player (Doodler) */

#player {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #4CAF50;
    border-radius: 50% 50% 40% 40%;
    border: 2px solid #2E7D32;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.eye {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    margin: 15px;
}

/* Section 4: Platform Styling */

.platform {
    position: absolute;
    width: 70px;
    height: 15px;
    background: linear-gradient(to bottom, #8B4513, #A0522D);
    border-radius: 5px;
    border: 1px solid #654321;

}

.breaking-platform.breaking {
    background-color: red;
    opacity: 0.5;
    transition: opacity 0.3 ease, transform 0.3s ease;
    transform: scale(0.8);
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)20px,
        transparent 20px,
        transparent 40px
    );
    pointer-events: none;
}

.bouncy-platform {
    background: linear-gradient(to bottom, #f700ff, #5f22cf);
}

.speed-platform {
    background-color: orange;
    border: 2px solid darkorange;
}

/* Part of Section 6 */

#finalScore {
    width: 100%;
    height: fit-content;
    display: grid;
    place-items: center;
    font-size: 100px;
    color: white;
    background-color: rgb(0 0 0 / 50%);
}