#time{
    font-size: 50px;
    font-weight: 300px;
    font-family: "Consolas";
    background: linear-gradient(90deg, red, orange, yellow, lime, green, cyan, deepskyblue, blue, indigo, purple, magenta, lightpink );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:white;
    animation: rainbow 1.5s linear infinite;
}
@keyframes rainbow {
    100%{
        filter: hue-rotate(360deg);
    }
}