@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: aquamarine;
    color:white;
    -webkit-text-stroke: 1px blue;
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.hand {
    width: 50px;
    }
.hand > img{
    width: 100%;}   
.match{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}   
    
header > h1 {
    margin-top:0;
}



.game-container {
    background-color: lightskyblue;
    padding: 80px;
    border-radius: 35px;
    box-shadow: 75px 75px 75px white;

    width: 90%;
    max-width: 650px;
}


.score {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    font-weight: 600;
}

.score span {
    font-size: 2em;
}

.result p {
    font-size: 1.8em;
    font-weight: 600;
    height: 40px;
}

.options button {
    background-color: gold;
}

.shake {
    animation: shake-hand 0.4s 4 alternate;
}

@keyframes shake-hand {
    from {
        transform: rotate(15deg);
    }
    to   {
        transform: rotate(-15deg);
    }
}